body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    /* Achtergrondkleur van de pagina */
}

a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff9900;
    /* Oranje achtergrondkleur */
    color: #fff;
    text-decoration: none;
    border: 2px solid #ff9900;
    /* Oranje rand */
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    /* Vetgedrukte tekst */
    font-family: "Poppins", sans-serif;
    /* Lettertype Poppins */
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #ff6600;
    /* Donkerder oranje bij hover */
    color: #fff;
    /* Witte tekst bij hover */
}