#slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }
}

body {
    margin: 0;
    overflow: hidden;
    background-image: url('images/comic35.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#marvel-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

#marvel-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
}
    